.apexcharts-tooltip .apexcharts-tooltip-series-group.active {
    /* background: #ffffff !important; */
}

.apexcharts-tooltip div,
.apexcharts-tooltip-text-y-label,
.apexcharts-tooltip-text-y-value {
    background-color: white !important;
    color: black !important;
}

.apexcharts-legend-text,
.apexcharts-text {
    fill: var(--main-font-color) !important;
    color: var(--main-font-color) !important
}